body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.header,
.logolinks,
.links,
.headercontent,
.awesome,
.headerimage,
.content,
.contentcontainer,
.contentbox,
.quotesection,
.quotebox,
.calltoaction,
.footer,
.calltoactioncontent {
    display: flex;
    flex-wrap: wrap;
}

.header {
    flex-direction:column;
    justify-content:space-between; 
    align-items: center;
    background-color: #1F2937;
    gap: 72px;
    padding: 90px;
    padding-top: 0;
}
.logolinks {
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding-top: 15px;
    flex-wrap: nowrap;
}
.links {
    gap: 30px;
    flex-wrap: nowrap;
}
.headercontent {
    width: 100%;
    justify-content: space-between;
    gap: 24px;
}
.headerlink, 
.secondarytext {
    font-size: 18px;
    color: #E5E7EB
}
.logo {
    font-size: 24px;
    color: #f9faf8;
    margin: 0px;
    width: 84px;
    height: 84px;
    margin-right: auto;
}

.awesome {
    flex-direction: column;
    width: 50%;
    flex: 1;
}
.awesometext {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0px;
}
.headerimage {
    background-color: gray;
    color: white;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.signup {
    align-self: flex-start;
    background-color: #3882F6;
    margin-top: 10px;
    width: 120px;
    font-size: 18px;
    height: 34px;
    border: none;
    border-radius:5px;
    color: #E5E7EB;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-bottom: 50px;
}
.contentcontainer {
    gap: 100px;
    width: 70%;
    justify-content: center;
}
.random {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 10px;
    text-align: center;
}
.contentbox img {
    width: 175px;
    height: 175px;
    border-radius:15px;
    border:4px solid #3882F6;
    margin-bottom: 10px;
    object-fit: cover;
}
.contentbox {
    flex-direction: column;
    width: 150px;
    align-items: center;
    text-align: center;

}
.box {
    width: 175px;
    height: 175px;
    border-radius:15px;
    border:4px solid #3882F6;
    margin-bottom: 10px;
}
.quotesection {
    background-color: #e5e7eB;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}
.quotebox {
    width: 40%;
    flex-direction: column;
}
.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style:italic;
    margin-bottom:5px;
}
.author {
    font-weight: bold;
    font-size: 16px;
    align-self:flex-end;
}
.calltoactioncontent {
    align-items: center;
    justify-content: center;
    height: 400px;
}
.calltoaction {
    width: 80%;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    background-color: #3882F6;
}
.calltext {
    color: #E5E7EB;
    ;
}
div h3 {
    font-weight: bold;
    margin: 0;
    font-size: 30px;
}
.calltobutton {
    border-radius: 5px;
    text-align: center;
    border: 2px #E5E7EB solid;
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    height: 34px;
    width: 120px;
    cursor: pointer;
}
.footer {
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}
.copyright {
    color: #E5E7EB;
    font-size: 18px;
}